.contenedor{
    max-width: 100%;
    margin: auto;
}
html{
    background: blueviolet;
}
a{
    font-size: 1.5rem;
    color: red;
}
.contenedor div{
    border: solid 2px;
    margin: 5px;
    border-radius: 20px;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
div{
    background-color: rgb(105, 95, 190);
    align-items: center;
}
img{
    border-radius: 20px;
}
.uno{
    grid-column: 2/3;
    grid-row: 1;
}
.dos{
    grid-column: 3/4;
    grid-row: 1/3;
}
.tres{
    grid-column:1 ;
    grid-row: 1/5;
}
.cuatro{
    grid-column: 3;
    grid-row: 3/5;
}
.cinco{
    grid-column: 2;
    grid-column: 2/5;
}